$background-content-color: #f9f9f9;
$sidebar-background-color: #2c2f3e;
$sidebar-font-color: #999cab;

$title-font-color: #535b6d;
$navbar-color: #f2f2f4;
$navbar-border-color: #e7e7e7;
$navbar-font-color: #5e5e5e;