.animals {
  .main-slider {
    .title {
      margin: 0 20px;
    }

    .subject a {
      display: inline-block;
      padding: 0 5px;
      font-size: 28px;
      background-color: $navbar-color;
      border: 1px solid $navbar-border-color;
      border-bottom: none;
      position: relative;
      top: 1px;
      z-index: 1;
      color: $navbar-font-color;

      &.inactive {
        background-color: $background-content-color;
      }
    }
  }

  .container-tab {
    margin-bottom: 50px;
    background-color: $navbar-color;
    border: 1px solid $navbar-border-color;
    padding: 15px;
  }

  .tab {
    padding-left: 0;

    a {
      display: inline-block;
      border: 3px solid #e7e7e7;
      background-color: #f2f2f4;
      color: #555;
      min-height: 140px;
    }
  }
}